Repository IT-Academy-Social-Projects-KRV/CMIYC, pull requests merged in 2022-04, with the labels that each got.

#144 Added HttpClientService, refactor data classes
  Frontend/src/app/app-routing.module.ts
  Frontend/src/app/header/header.component.ts
  Frontend/src/app/login-form/login-form.component.ts
  Frontend/src/app/shared/admin.auth.guard.ts
  Frontend/src/app/shared/auth.service.ts
  Frontend/src/app/shared/data/jwt-data.ts
  Frontend/src/app/shared/data/login-request.ts
  Frontend/src/app/shared/data/login-result.ts
  Frontend/src/app/shared/http.client.service.ts
  Frontend/src/app/shared/user.auth.guard.ts
  Frontend/src/app/sidebar/sidebar.component.ts
  Frontend/src/app/user-search-interface/user-search-interface.component.ts
Labels: UI

#145 Added handling of token expiration time
  Frontend/src/app/shared/auth.service.ts
  Frontend/src/app/shared/http.client.service.ts
Labels: UI

#146 Refactor auth guards, added UnauthorizedAuthGuard
  Frontend/src/app/app-routing.module.ts
  Frontend/src/app/app.module.ts
  Frontend/src/app/shared/admin.auth.guard.ts
  Frontend/src/app/shared/auth-guards/abstract.auth.guard.ts
  Frontend/src/app/shared/auth-guards/schema.admin.auth.guard.ts
  Frontend/src/app/shared/auth-guards/unauthorized.auth.guard.ts
  Frontend/src/app/shared/auth-guards/user.admin.auth.guard.ts
  Frontend/src/app/shared/auth-guards/user.auth.guard.spec.ts
  Frontend/src/app/shared/auth-guards/user.auth.guard.ts
  Frontend/src/app/shared/auth.service.ts
  Frontend/src/app/shared/user.auth.guard.ts
Labels: UI

#147 Feature 135 send schema to data api dima
  Frontend/src/app/admin-create-schema-form/admin-create-schema-form.component.css
  Frontend/src/app/admin-create-schema-form/admin-create-schema-form.component.html
  Frontend/src/app/admin-create-schema-form/admin-create-schema-form.component.ts
  Frontend/src/app/admin-manage-schema-list/admin-manage-schema-list.component.html
  Frontend/src/app/app.module.ts
  Frontend/src/app/shared/http.client.service.ts
Labels: UI

#148 Feature 107 load and show user list and toggle user active
  Frontend/src/app/admin-manage-user-list/admin-manage-user-list.component.html
  Frontend/src/app/admin-manage-user-list/admin-manage-user-list.component.ts
  Frontend/src/app/admin-user-is-active-toggle-component/admin-user-is-active-toggle-component-spec.ts
  Frontend/src/app/admin-user-is-active-toggle-component/admin-user-is-active-toggle-component.css
  Frontend/src/app/admin-user-is-active-toggle-component/admin-user-is-active-toggle-component.html
  Frontend/src/app/admin-user-is-active-toggle-component/admin-user-is-active-toggle-component.ts
  Frontend/src/app/app.module.ts
  Frontend/src/app/shared/auth.service.ts
  Frontend/src/app/shared/data/user.ts
  Frontend/src/app/shared/http.client.service.ts
  Frontend/src/app/sidebar/sidebar.component.html
  Frontend/src/app/sidebar/sidebar.component.ts
Labels: UI

#149 Add user list endpoint
  Backend/microservices/authority/src/main/java/com/ms/authority/controller/UserController.java
  Backend/microservices/authority/src/main/java/com/ms/authority/dto/UserDto.java
  Backend/microservices/authority/src/main/java/com/ms/authority/service/UserService.java
Labels: auth+db

#150 showing 404 page
  Frontend/src/app/app-routing.module.ts
Labels: UI

#153 Added fixes on login form and header
  Frontend/src/app/admin-manage-user-list/admin-manage-user-list.component.ts
  Frontend/src/app/header/header.component.html
  Frontend/src/app/header/header.component.ts
  Frontend/src/app/login-form/login-form.component.html
  Frontend/src/app/login-form/login-form.component.ts
  Frontend/src/app/shared/auth.service.ts
Labels: UI

#151 Feature 128 add user enable and disable endpoints malyarskyy
  Backend/microservices/authority/src/main/java/com/ms/authority/controller/UserController.java
  Backend/microservices/authority/src/main/java/com/ms/authority/entity/User.java
  Backend/microservices/authority/src/main/java/com/ms/authority/service/UserService.java
Labels: auth+db

#159 Bugfix: fixed content type not set bug
  Frontend/src/app/shared/http.client.service.ts
Labels: UI

#157 Bugfix: fixed error on log in with multiple roles
  Backend/microservices/authority/src/main/java/com/ms/authority/config/OAuth2AuthorizationServerConfigJwt.java
  Frontend/src/app/shared/auth.service.ts
Labels: UI, auth+db

#155 #82 implement user registration
  Backend/microservices/authority/src/main/java/com/ms/authority/config/EmailConfig.java
  Backend/microservices/authority/src/main/java/com/ms/authority/config/OAuth2AuthorizationServerConfigJwt.java
  Backend/microservices/authority/src/main/java/com/ms/authority/config/ResourceServerConfig.java
  Backend/microservices/authority/src/main/java/com/ms/authority/config/WebSecurityConfig.java
  Backend/microservices/authority/src/main/java/com/ms/authority/controller/JwkSetRestController.java
  Backend/microservices/authority/src/main/java/com/ms/authority/controller/UserController.java
  Backend/microservices/authority/src/main/java/com/ms/authority/dto/FrontendData.java
  Backend/microservices/authority/src/main/java/com/ms/authority/dto/RegistrationRequest.java
  Backend/microservices/authority/src/main/java/com/ms/authority/dto/RegistrationResult.java
  Backend/microservices/authority/src/main/java/com/ms/authority/email/EmailService.java
  Backend/microservices/authority/src/main/java/com/ms/authority/email/EmailServiceImpl.java
  Backend/microservices/authority/src/main/java/com/ms/authority/email/EmailValidator.java
  Backend/microservices/authority/src/main/java/com/ms/authority/entity/Role.java
  Backend/microservices/authority/src/main/java/com/ms/authority/entity/Token.java
  Backend/microservices/authority/src/main/java/com/ms/authority/entity/User.java
  Backend/microservices/authority/src/main/java/com/ms/authority/repository/RoleRepository.java
  Backend/microservices/authority/src/main/java/com/ms/authority/repository/TokenRepository.java
  Backend/microservices/authority/src/main/java/com/ms/authority/repository/UserRepository.java
  Backend/microservices/authority/src/main/java/com/ms/authority/service/AuthenticationProviderImpl.java
  Backend/microservices/authority/src/main/java/com/ms/authority/service/TokenService.java
  Backend/microservices/authority/src/main/java/com/ms/authority/service/UserService.java
  Backend/microservices/authority/src/main/resources/db/migration/V5__CreateTokenTable.sql
Labels: auth+db

#161 Feature 130 implement user activation malyarskyy
  Backend/microservices/authority/pom.xml
  Backend/microservices/authority/src/main/java/com/ms/authority/config/ResourceServerConfig.java
  Backend/microservices/authority/src/main/java/com/ms/authority/controller/UserController.java
  Backend/microservices/authority/src/main/java/com/ms/authority/dto/ConfirmRegisterData.java
  Backend/microservices/authority/src/main/java/com/ms/authority/dto/UserDto.java
  Backend/microservices/authority/src/main/java/com/ms/authority/exception/PasswordsDoNotMatchException.java
  Backend/microservices/authority/src/main/java/com/ms/authority/exception/TokenNotFoundException.java
  Backend/microservices/authority/src/main/java/com/ms/authority/exception/UserAlreadyRegistredException.java
  Backend/microservices/authority/src/main/java/com/ms/authority/repository/TokenRepository.java
  Backend/microservices/authority/src/main/java/com/ms/authority/service/TokenService.java
  Backend/microservices/authority/src/main/java/com/ms/authority/service/UserService.java
  Backend/microservices/authority/src/main/java/com/ms/authority/utils/validation/UserValidation.java
Labels: auth+db

#160 Fixed user activation page and form
  Backend/microservices/authority/src/main/java/com/ms/authority/service/UserService.java
  Backend/microservices/authority/src/main/resources/application.yml
  Frontend/src/app/app-routing.module.ts
  Frontend/src/app/login-form/login-form.component.html
  Frontend/src/app/login-form/login-form.component.ts
  Frontend/src/app/register/register.component.css
  Frontend/src/app/register/register.component.html
  Frontend/src/app/register/register.component.ts
  Frontend/src/app/shared/data/request-result.ts
  Frontend/src/app/shared/http.client.service.ts
  Frontend/src/app/utils/validation.ts
Labels: UI

#162 141 connect data api with admin tetyana
  Backend/microservices/data/src/main/java/com/ms/data/config/CorsFilter.java
  Backend/microservices/data/src/main/java/com/ms/data/config/JWTSecurityConfigData.java
  Backend/microservices/data/src/main/java/com/ms/data/controller/DataController.java
  Backend/microservices/data/src/main/java/com/ms/data/service/XmlService.java
Labels: microservice

#163 Added user list sorting
  Backend/microservices/authority/src/main/java/com/ms/authority/controller/UserController.java
  Backend/microservices/authority/src/main/java/com/ms/authority/service/UserService.java
Labels: auth+db

#154 Skeleton for external services was added
  Backend/external-apis/mock-repository/pom.xml
  Backend/external-apis/mock-repository/src/main/java/com/external/mockrepository/MockEndpoint.java
  Backend/external-apis/mock-repository/src/main/resources/.keep
  Backend/external-apis/mock-repository/src/main/webapp/WEB-INF/web.xml
  Backend/external-apis/mock-repository/src/main/webapp/index.jsp
  Backend/external-apis/mock-repository/src/test/java/.keep
  Backend/external-apis/mock-repository/src/test/resources/.keep
  Backend/external-apis/rest-server/pom.xml
  Backend/external-apis/rest-server/src/main/java/com/external/rest/Server.java
  Backend/external-apis/rest-server/src/main/resources/.keep
  Backend/external-apis/rest-server/src/main/webapp/WEB-INF/web.xml
  Backend/external-apis/rest-server/src/main/webapp/index.jsp
  Backend/external-apis/rest-server/src/test/java/.keep
  Backend/external-apis/rest-server/src/test/resources/.keep
  Backend/external-apis/soap-server/pom.xml
  Backend/external-apis/soap-server/src/main/java/com/external/soap/SoapApp.java
  Backend/external-apis/soap-server/src/main/resources/application.properties
  Backend/external-apis/soap-server/src/main/resources/application.yml
  Backend/external-apis/soap-server/src/main/resources/banner.txt
  Backend/external-apis/soap-server/src/test/java/.keep
  Backend/external-apis/websocket-server/pom.xml
  Backend/external-apis/websocket-server/src/main/java/com/external/websocketserver/WebsocketEndpoint.java
  Backend/external-apis/websocket-server/src/main/resources/.keep
  Backend/external-apis/websocket-server/src/main/webapp/WEB-INF/beans.xml
  Backend/external-apis/websocket-server/src/main/webapp/WEB-INF/web.xml
  Backend/external-apis/websocket-server/src/main/webapp/index.jsp
  Backend/external-apis/websocket-server/src/test/java/.keep
  Backend/external-apis/websocket-server/src/test/resources/.keep
Labels: microservice

#164 Send new user data from admin to auth
  Frontend/src/app/admin-user-form/admin-user-form.component.html
  Frontend/src/app/admin-user-form/admin-user-form.component.ts
  Frontend/src/app/shared/http.client.service.ts
Labels: UI

#165 feature_79_REST-API_Horishny
  Backend/external-apis/rest-server/pom.xml
  Backend/external-apis/rest-server/src/main/java/com/external/connection/ConnectDataSource.java
  Backend/external-apis/rest-server/src/main/java/com/external/rest/Server.java
Labels: microservice

#168 Rename frontend urls due to convention
  Frontend/src/app/app-routing.module.ts
  Frontend/src/app/errorpages/error403/error403.component.ts
  Frontend/src/app/errorpages/error404/error404.component.ts
  Frontend/src/app/errorpages/error500/error500.component.ts
  Frontend/src/app/header/header.component.html
  Frontend/src/app/search-response/search-response.component.html
  Frontend/src/app/shared/auth.service.ts
  Frontend/src/app/shared/http.client.service.ts
  Frontend/src/app/sidebar/sidebar.component.html
  Frontend/src/app/user-search-interface/user-search-interface.component.html
Labels: UI

#167 Rename urls on backend due to convention
  Backend/microservices/authority/src/main/java/com/ms/authority/controller/UserController.java
  Backend/microservices/connector/README.MD
  Backend/microservices/connector/src/main/java/com/ms/connector/controller/SearchQueryController.java
  Backend/microservices/connector/src/main/resources/application.yml
  Backend/microservices/data/README.MD
  Backend/microservices/data/src/main/java/com/ms/data/config/JWTSecurityConfigData.java
  Backend/microservices/data/src/main/java/com/ms/data/controller/DataController.java
  Backend/microservices/data/src/main/resources/application.yml
  Backend/microservices/search/README.MD
  Backend/microservices/search/src/main/java/com/ms/search/connectInterface/ConnectorConnect.java
  Backend/microservices/search/src/main/java/com/ms/search/connectInterface/DataConnect.java
  Backend/microservices/search/src/main/java/com/ms/search/controller/SearchController.java
  Backend/microservices/search/src/main/resources/application.yml
Labels: auth+db, microservice

#169 Fixed content type error
  Frontend/src/app/shared/http.client.service.ts
Labels: UI

#194 Updated README in rest-server
  Backend/external-apis/README.md
Labels: microservice

#196 Added H2 and JPA to Search API
  Backend/microservices/search/pom.xml
Labels: microservice

#195 Refactor rest server and added GET request
  Backend/external-apis/README.md
  Backend/external-apis/rest-server/pom.xml
  Backend/external-apis/rest-server/src/main/java/com/external/connection/ConnectDataSource.java
  Backend/external-apis/rest-server/src/main/java/com/external/rest/Server.java
Labels: microservice

#197 Refactor email service, remove html code from java file, and changed …
  Backend/microservices/authority/pom.xml
  Backend/microservices/authority/src/main/java/com/ms/authority/config/OAuth2AuthorizationServerConfigJwt.java
  Backend/microservices/authority/src/main/java/com/ms/authority/config/ThymeleafEmailTemplate.java
  Backend/microservices/authority/src/main/java/com/ms/authority/email/EmailService.java
  Backend/microservices/authority/src/main/java/com/ms/authority/email/EmailServiceImpl.java
  Backend/microservices/authority/src/main/java/com/ms/authority/service/EmailService.java
  Backend/microservices/authority/src/main/java/com/ms/authority/service/EmailValidator.java
  Backend/microservices/authority/src/main/java/com/ms/authority/service/UserService.java
  Backend/microservices/authority/src/main/resources/template/emailConfirmation.html
Labels: auth+db

#202 Feature 173 connect connector api with external APIs
  Backend/external-apis/README.md
  Backend/external-apis/mock-repository/src/main/java/com/external/server/Server.java
  Backend/microservices/connector/pom.xml
  Backend/microservices/connector/src/main/java/com/ms/connector/config/ConnectionsConfig.java
  Backend/microservices/connector/src/main/java/com/ms/connector/controller/SearchQueryController.java
  Backend/microservices/connector/src/main/java/com/ms/connector/dto/SearchQuery.java
  Backend/microservices/connector/src/main/java/com/ms/connector/dto/SoapResponse.java
  Backend/microservices/connector/src/main/java/com/ms/connector/exception/UnknownApiConnectionTypeException.java
  Backend/microservices/connector/src/main/java/com/ms/connector/model/SearchQuery.java
  Backend/microservices/connector/src/main/java/com/ms/connector/service/ApiService.java
  Backend/microservices/connector/src/main/java/com/ms/connector/service/api/ApiConnection.java
  Backend/microservices/connector/src/main/java/com/ms/connector/service/api/HttpApiConnection.java
  Backend/microservices/connector/src/main/java/com/ms/connector/service/api/RestApiConnection.java
  Backend/microservices/connector/src/main/java/com/ms/connector/service/api/SoapApiConnection.java
  Backend/microservices/connector/src/main/java/com/ms/connector/service/api/WebsocketApiConnection.java
  Backend/microservices/connector/src/main/java/com/ms/connector/service/api/converter/BodyConverter.java
  Backend/microservices/connector/src/main/java/com/ms/connector/service/api/converter/JsonBodyConverter.java
  Backend/microservices/connector/src/main/java/com/ms/connector/service/api/converter/SoapBodyConverter.java
  Backend/microservices/connector/src/main/java/com/ms/connector/service/client/AbstractClient.java
  Backend/microservices/connector/src/main/java/com/ms/connector/service/client/HttpClient.java
  Backend/microservices/connector/src/main/java/com/ms/connector/service/client/RestClient.java
  Backend/microservices/connector/src/main/java/com/ms/connector/service/client/SoapClient.java
  Backend/microservices/connector/src/main/java/com/ms/connector/service/client/WebsocketClient.java
  Backend/microservices/connector/src/main/java/com/ms/connector/utils/MapAdapter.java
  Backend/microservices/connector/src/main/java/com/ms/connector/utils/SoapHelper.java
  Backend/microservices/connector/src/main/java/com/ms/connector/utils/XMLReaderWithoutNamespace.java
  Backend/microservices/connector/src/main/resources/application.yml
Labels: microservice

#199 Added caching of responses
  Backend/microservices/search/pom.xml
  Backend/microservices/search/src/main/java/com/ms/search/config/CaffeineConfig.java
  Backend/microservices/search/src/main/java/com/ms/search/connectInterface/ConnectorConnect.java
  Backend/microservices/search/src/main/java/com/ms/search/connectInterface/DataConnect.java
  Backend/microservices/search/src/main/java/com/ms/search/controller/SearchController.java
  Backend/microservices/search/src/main/resources/application.yml
Labels: microservice

#204 Feature 121 how data api works with bucket tetiana
  Backend/microservices/data/README.MD
  Backend/microservices/data/pom.xml
  Backend/microservices/data/src/main/java/com/ms/data/config/GoogleHttpRequestInitializer.java
  Backend/microservices/data/src/main/java/com/ms/data/config/GoogleStorageCloudConfig.java
  Backend/microservices/data/src/main/java/com/ms/data/config/InputStreamContent.java
  Backend/microservices/data/src/main/java/com/ms/data/controller/DataController.java
  Backend/microservices/data/src/main/java/com/ms/data/service/CloudStorageService.java
  Backend/microservices/data/src/main/java/com/ms/data/service/XmlService.java
  Backend/microservices/data/src/main/resources/application.yml
Labels: microservice

#217 Fixed bug on validation form
  Frontend/src/app/login-form/login-form.component.html
Labels: UI

#216 feature_134_login form now can use 2FA
  Frontend/src/app/app-routing.module.ts
  Frontend/src/app/shared/auth-guards/tfa.auth.guard.ts
  Frontend/src/app/shared/auth.service.ts
  Frontend/src/app/shared/data/tfa-request.ts
  Frontend/src/app/shared/http.client.service.ts
  Frontend/src/app/two-factor-authentication-form/two-factor-authentication-form.component.css
  Frontend/src/app/two-factor-authentication-form/two-factor-authentication-form.component.html
  Frontend/src/app/two-factor-authentication-form/two-factor-authentication-form.component.ts
Labels: UI

#209 Update and delete user by admin
  Backend/microservices/authority/src/main/java/com/ms/authority/controller/UserController.java
  Backend/microservices/authority/src/main/java/com/ms/authority/repository/TokenRepository.java
  Backend/microservices/authority/src/main/java/com/ms/authority/repository/UserRepository.java
  Backend/microservices/authority/src/main/java/com/ms/authority/service/TokenService.java
  Backend/microservices/authority/src/main/java/com/ms/authority/service/UserService.java
Labels: auth+db

#215 Feature 133 implement two factor authentication malyarskyy
  Backend/microservices/authority/pom.xml
  Backend/microservices/authority/src/main/java/com/ms/authority/config/CorsFilter.java
  Backend/microservices/authority/src/main/java/com/ms/authority/config/EmailConfig.java
  Backend/microservices/authority/src/main/java/com/ms/authority/config/JwtCustomHeadersAccessTokenConverter.java
  Backend/microservices/authority/src/main/java/com/ms/authority/config/MethodSecurityConfig.java
  Backend/microservices/authority/src/main/java/com/ms/authority/config/OAuth2AuthorizationServerConfigJwt.java
  Backend/microservices/authority/src/main/java/com/ms/authority/config/ResourceServerConfig.java
  Backend/microservices/authority/src/main/java/com/ms/authority/config/ThymeleafEmailTemplate.java
  Backend/microservices/authority/src/main/java/com/ms/authority/config/WebSecurityConfig.java
  Backend/microservices/authority/src/main/java/com/ms/authority/config/granters/PasswordTokenGranter.java
  Backend/microservices/authority/src/main/java/com/ms/authority/config/granters/TfaTokenGranter.java
  Backend/microservices/authority/src/main/java/com/ms/authority/controller/UserController.java
  Backend/microservices/authority/src/main/java/com/ms/authority/dto/ConfirmRegisterData.java
  Backend/microservices/authority/src/main/java/com/ms/authority/dto/RegistrationRequestData.java
  Backend/microservices/authority/src/main/java/com/ms/authority/dto/RegistrationResultData.java
  Backend/microservices/authority/src/main/java/com/ms/authority/dto/UserData.java
  Backend/microservices/authority/src/main/java/com/ms/authority/dto/UserDto.java
  Backend/microservices/authority/src/main/java/com/ms/authority/entity/Role.java
  Backend/microservices/authority/src/main/java/com/ms/authority/entity/Token.java
  Backend/microservices/authority/src/main/java/com/ms/authority/entity/User.java
  Backend/microservices/authority/src/main/java/com/ms/authority/exception/ImpossibleOperationException.java
  Backend/microservices/authority/src/main/java/com/ms/authority/exception/UserNotFoundException.java
  Backend/microservices/authority/src/main/java/com/ms/authority/repository/TokenRepository.java
  Backend/microservices/authority/src/main/java/com/ms/authority/repository/UserRepository.java
  Backend/microservices/authority/src/main/java/com/ms/authority/service/AuthenticationProviderImpl.java
  Backend/microservices/authority/src/main/java/com/ms/authority/service/EmailService.java
  Backend/microservices/authority/src/main/java/com/ms/authority/service/TfaService.java
  Backend/microservices/authority/src/main/java/com/ms/authority/service/TokenService.java
  Backend/microservices/authority/src/main/java/com/ms/authority/service/UserService.java
  Backend/microservices/authority/src/main/java/com/ms/authority/utils/Authorities.java
  Backend/microservices/authority/src/main/java/com/ms/authority/utils/validation/UserValidation.java
  Backend/microservices/authority/src/main/resources/db/migration/V6__AddTwoFacrotAuthenticationSecret.sql
  Backend/microservices/authority/src/main/resources/template/emailConfirmation.html
Labels: auth+db

#218 Feature 139 unit tests search api lera
  Backend/microservices/search/img.png
  Backend/microservices/search/pom.xml
  Backend/microservices/search/src/test/java/com/mkyong/core/controller/connectorConnectTests/ConnectorConnectUnitTests.java
  Backend/microservices/search/src/test/java/com/mkyong/core/controller/dataConnectTests/DataConnectUnitTests.java
  Backend/microservices/search/src/test/java/com/mkyong/core/controller/searchControllerTests/SearchControllerUnitTests.java
Labels: microservice

#221 Bugfix 210 fix cache
  Backend/microservices/connector/src/main/java/com/ms/connector/dto/SearchQuery.java
  Backend/microservices/search/pom.xml
  Backend/microservices/search/src/main/java/com/ms/search/connectInterface/ConnectorConnect.java
  Backend/microservices/search/src/main/java/com/ms/search/connectInterface/DataConnect.java
  Backend/microservices/search/src/main/java/com/ms/search/model/SearchQuery.java
  Backend/microservices/search/src/test/java/com/mkyong/core/controller/connectorConnectTests/ConnectorConnectUnitTests.java
Labels: microservice

#220 Feature 140 integration tests search api lera
  Backend/microservices/search/pom.xml
  Backend/microservices/search/src/test/java/com/mkyong/core/controller/searchControllerTests/SearchControllerIntegrationTests.java
Labels: microservice

#222 Feature 112 code coverage plugin lera
  Backend/microservices/search/README.MD
  Backend/microservices/search/img.jpg
  Backend/microservices/search/img.png
  Backend/microservices/search/pom.xml
Labels: microservice
