Repository IT-Academy-Social-Projects-KRV/CMIYC, pull requests merged in 2022-03, with the labels that each got.

#45 User search page interface update
  Frontend/src/app/app-routing.module.ts
  Frontend/src/app/app.module.ts
  Frontend/src/app/nav-user-search/nav-user-search.component.css
  Frontend/src/app/nav-user-search/nav-user-search.component.html
  Frontend/src/app/nav-user-search/nav-user-search.component.spec.ts
  Frontend/src/app/nav-user-search/nav-user-search.component.ts
  Frontend/src/app/search-response/search-response.component.html
  Frontend/src/app/sidebar/sidebar.component.html
  Frontend/src/app/user-search-interface/user-search-interface.component.html
Labels: UI

#87 Added configuration for authorization server
  Backend/microservices/authority/pom.xml
  Backend/microservices/authority/src/main/java/com/ms/authority/config/CorsFilter.java
  Backend/microservices/authority/src/main/java/com/ms/authority/config/JwtCustomHeadersAccessTokenConverter.java
  Backend/microservices/authority/src/main/java/com/ms/authority/config/OAuth2AuthorizationServerConfigJwt.java
  Backend/microservices/authority/src/main/java/com/ms/authority/config/WebSecurityConfig.java
  Backend/microservices/authority/src/main/java/com/ms/authority/controller/JwkSetRestController.java
  Backend/microservices/authority/src/main/java/com/ms/authority/entity/Role.java
  Backend/microservices/authority/src/main/java/com/ms/authority/entity/User.java
  Backend/microservices/authority/src/main/java/com/ms/authority/repository/RoleRepository.java
  Backend/microservices/authority/src/main/java/com/ms/authority/repository/UserRepository.java
  Backend/microservices/authority/src/main/java/com/ms/authority/service/AuthenticationProviderImpl.java
  Backend/microservices/authority/src/main/java/com/ms/authority/service/UserService.java
  Backend/microservices/authority/src/main/java/com/ms/authority/utils/FrontendData.java
  Backend/microservices/authority/src/main/resources/application.yml
  Backend/microservices/authority/src/main/resources/create_schema.sql
  Backend/microservices/authority/src/main/resources/db/migration/V3__UserPasswordAndUniqueRole.sql
  Backend/microservices/authority/src/main/resources/db/migration/V4__InitRolesAndAddTestUsers.sql
  Backend/microservices/authority/src/main/resources/ddl_db_workers.sql
  Backend/microservices/authority/src/main/resources/jwt.jks
Labels: auth+db

#90 Connection server (eureka server) and documentation how to connect to Search API
  Backend/microservices/eureka/.gitignore
  Backend/microservices/eureka/.mvn/wrapper/maven-wrapper.jar
  Backend/microservices/eureka/.mvn/wrapper/maven-wrapper.properties
  Backend/microservices/eureka/mvnw
  Backend/microservices/eureka/mvnw.cmd
  Backend/microservices/eureka/pom.xml
  Backend/microservices/eureka/src/main/java/com/example/eureka/EurekaApplication.java
  Backend/microservices/eureka/src/main/resources/application.yml
  Backend/microservices/eureka/src/test/java/com/example/eureka/EurekaApplicationTests.java
  Backend/microservices/pom.xml
  Backend/microservices/search/README.MD
Labels: microservice

#91 Feature 60 connector prototype igor
  Backend/microservices/connector/README.MD
  Backend/microservices/connector/pom.xml
  Backend/microservices/connector/src/main/java/com/ms/connector/ConnectorApplication.java
  Backend/microservices/connector/src/main/java/com/ms/connector/config/JWTSecurityConfig.java
  Backend/microservices/connector/src/main/java/com/ms/connector/controller/SearchQueryController.java
  Backend/microservices/connector/src/main/java/com/ms/connector/model/SearchQuery.java
  Backend/microservices/connector/src/main/resources/application.yml
  Backend/microservices/data/pom.xml
  Backend/microservices/data/src/main/java/com/ms/data/DataApplication.java
  Backend/microservices/data/src/main/resources/application.yml
Labels: microservice

#92 Feature 75 data api prototype dima
  Backend/microservices/data/README.MD
  Backend/microservices/data/pom.xml
  Backend/microservices/data/src/main/java/com/ms/data/controller/DataController.java
  Backend/microservices/data/src/main/java/com/ms/data/model/XmlObject.java
  Backend/microservices/data/src/main/java/com/ms/data/resource/XmlResource.java
  Backend/microservices/data/src/main/java/com/ms/data/service/XmlService.java
  Backend/microservices/data/src/main/resources/application.yml
Labels: microservice

#86 Feature 50 user validation for forms malyarskyy
  Frontend/src/app/admin-create-schema-form/admin-create-schema-form.component.html
  Frontend/src/app/admin-manage-schema-list/admin-manage-schema-list.component.html
  Frontend/src/app/admin-manage-user-list/admin-manage-user-list.component.html
  Frontend/src/app/admin-user-form/admin-user-form.component.html
  Frontend/src/app/app-routing.module.ts
  Frontend/src/app/app.component.html
  Frontend/src/app/app.module.ts
  Frontend/src/app/errorpages/error403/error403.component.css
  Frontend/src/app/errorpages/error403/error403.component.html
  Frontend/src/app/errorpages/error404/error404.component.css
  Frontend/src/app/errorpages/error404/error404.component.html
  Frontend/src/app/errorpages/error500/error500.component.css
  Frontend/src/app/errorpages/error500/error500.component.html
  Frontend/src/app/header/header.component.css
  Frontend/src/app/header/header.component.html
  Frontend/src/app/login-form/login-form.component.html
  Frontend/src/app/login-form/login-form.component.ts
  Frontend/src/app/register/register.component.html
  Frontend/src/app/register/register.component.ts
  Frontend/src/app/search-response/search-response.component.html
  Frontend/src/app/sidebar/sidebar.component.css
  Frontend/src/app/sidebar/sidebar.component.html
  Frontend/src/app/two-factor-authentication-form/two-factor-authentication-form.component.html
  Frontend/src/app/two-factor-authentication-form/two-factor-authentication-form.component.ts
  Frontend/src/app/user-search-interface/user-search-interface.component.html
  Frontend/src/app/user-search-interface/user-search-interface.component.ts
  Frontend/src/app/utils/validation.ts
  Frontend/src/index.html
Labels: UI

#94 login form validation was fixed
  Frontend/src/app/login-form/login-form.component.html
  Frontend/src/app/login-form/login-form.component.ts
Labels: UI

#96 Feature 73 create resource server igor
  Backend/microservices/connector/ResourceServerManual.md
Labels: microservice

#98 Added support for multiple scopes and configuration for user registration endpoint
  Backend/microservices/authority/pom.xml
  Backend/microservices/authority/src/main/java/com/ms/authority/config/MethodSecurityConfig.java
  Backend/microservices/authority/src/main/java/com/ms/authority/config/OAuth2AuthorizationServerConfigJwt.java
  Backend/microservices/authority/src/main/java/com/ms/authority/config/ResourceServerConfig.java
  Backend/microservices/authority/src/main/java/com/ms/authority/controller/UserController.java
  Backend/microservices/authority/src/main/java/com/ms/authority/service/UserService.java
Labels: auth+db

#97 Change readme, connect auth,connector, search to search api
  Backend/microservices/eureka/README.md
  Backend/microservices/search/README.MD
  Backend/microservices/search/img.png
  Backend/microservices/search/pom.xml
  Backend/microservices/search/src/main/java/com/ms/search/SearchApplication.java
  Backend/microservices/search/src/main/java/com/ms/search/config/JWTSecurityConfig.java
  Backend/microservices/search/src/main/java/com/ms/search/connectInterface/ConnectorConnect.java
  Backend/microservices/search/src/main/java/com/ms/search/connectInterface/DataConnect.java
  Backend/microservices/search/src/main/java/com/ms/search/controller/SearchController.java
  Backend/microservices/search/src/main/java/com/ms/search/model/SearchQuery.java
  Backend/microservices/search/src/main/java/com/ms/search/model/XmlObject.java
  Backend/microservices/search/src/main/resources/application.yml
Labels: microservice

#99 configure OAuth2 Resource Server with Data Api
  Backend/microservices/data/pom.xml
  Backend/microservices/data/src/main/java/com/ms/data/config/JWTSecurityConfigData.java
  Backend/microservices/data/src/main/java/com/ms/data/controller/DataController.java
  Backend/microservices/data/src/main/resources/application.yml
Labels: microservice

#100 Feature 64 auth with search api kos
  Backend/microservices/search/README.MD
  Backend/microservices/search/img.png
  Backend/microservices/search/src/main/java/com/ms/search/config/CorsFilter.java
  Backend/microservices/search/src/main/java/com/ms/search/connectInterface/ConnectorConnect.java
  Backend/microservices/search/src/main/java/com/ms/search/connectInterface/DataConnect.java
  Backend/microservices/search/src/main/java/com/ms/search/controller/SearchController.java
Labels: microservice

#103 58 auth guard in frontend tetyana
  Frontend/src/app/app-routing.module.ts
  Frontend/src/app/app.module.ts
  Frontend/src/app/header/header.component.html
  Frontend/src/app/header/header.component.ts
  Frontend/src/app/login-form/login-form.component.ts
  Frontend/src/app/repos.ts
  Frontend/src/app/shared/admin.auth.guard.ts
  Frontend/src/app/shared/auth.service.ts
  Frontend/src/app/shared/user.auth.guard.spec.ts
  Frontend/src/app/shared/user.auth.guard.ts
  Frontend/src/app/sidebar/sidebar.component.html
  Frontend/src/app/sidebar/sidebar.component.ts
Labels: UI

#102 added sending data to search API
  Frontend/src/app/admin-create-schema-form/admin-create-schema-form.component.html
  Frontend/src/app/admin-user-form/admin-user-form.component.html
  Frontend/src/app/header/header.component.html
  Frontend/src/app/header/header.component.ts
  Frontend/src/app/login-form/login-form.component.ts
  Frontend/src/app/shared/auth.service.ts
  Frontend/src/app/user-search-interface/user-search-interface.component.html
  Frontend/src/app/user-search-interface/user-search-interface.component.ts
Labels: UI
